/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* 
  Slider
*/
.slider {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-36);
  /* margin: var(--spacing-60) auto; */
}

.slider__title {
  font-family: var(--alternative-font);
  font-size: var(--font-display);
  text-transform: uppercase;
}

/* ul con items en horizontal */
/* 
dlt- por motivos de conflictos con el glamp

  .slider__items {
    display: flex;
    gap: var(--spacing-24);
  }

  .slider__item {

  }
*/

/* 
  agr- estilos para botones del slider 
*/
.slider iconify-icon {
  color: var(--dark-bg-solid);
  font-size: var(--font-small);
  font-weight: 700;
}
.glide__arrow--left {
  left: 0;
}
.glide__arrow--right {
  right: 0;
}