
<section class="hero">

  <article class="hero__content">

    <h3 class="hero__title">Nuevos Ingresos</h3>

    <p class="hero__text">Descrubrí el próximo Funko Pop de tu Colección</p>

    <!-- botón -->
    <a class="hero__link" href="/shop?is_new=1">SHOP</a>

    <!-- Miniatura -->
    <img src="" alt="">

  </article>

</section>